	#tblCustList_wrapper, div.tab-pane div.dataTables_wrapper{
		height:480px;
		overflow-y:auto;
	}
	.headerSumQty li{
		display:inline-block;
		padding:0 10px;
	}

	@media (min-width: 768px) {
		.modal-xl {
				width: 90%;
				max-width:1200px;
			}
		}

		.top_right_date{
			position:absolute;
			left:200px;
			top:19px;
		}

		.top_right_date label{
			padding-right: 0;
			margin-right: 0;
			text-align: right;
			vertical-align: top;
			padding-top: 4px;
		}
	}

	td .editor-active { width:100%; }
	td select { width:80%; }
	.red{
		display:block;
		color:red;
		/*padding:2px;*/
	}
	.resultSale, .endResultSale{ display:none; }
	.headerSumQty > ul{ padding-left:0; margin-bottom:5px; }
	.headerSumQty label{ margin-right:5px;}
	.headerSumQty input{ text-align:left; padding-right:5px; border:0; width:120px;}
	
	table input[type='text']{
		width:85%;
		text-align:right;
	}

	.resultSale input[type='text']{
		width:90%;
	}
	.headerSumQty{ text-align:right;}

	.modal_control{ padding-right:5px;}

	.details-control2{
		
	}

	td.details-control {
		background: url('/image/details_open.png') no-repeat center right;
		cursor: pointer;
	}
	tr.shown td.details-control {
		background: url('/image/details_close.png') no-repeat center right;
	}

	.dt-body-right { text-align:right;}
	.btnCalc {vertical-align:baseline;}

	.TOTAL_UNCL { padding-left:3px; color:#ff00ff;}

	.gvSuccess{ text-align:center; font-size:17px;}

	#modal_sale_insert table.dataTable tbody td .btn{
		padding:2px 5px;
	}
	.btn-info{ margin-top:0px; vertical-align:baseline;}

	.resultSale label{
		width:110px;
		float:left;
	}

	.resultSale input[type='text']{
		width:110px;
		padding: 3px 6px;
		height: 25px;
		margin-bottom: 3px;
	}

	.memo_div{
		display:none;
		position: fixed;
		background-color: white;
		margin: 5px;
		z-index: 999999;
		padding: 5px;
		width: 70%;
		text-align: left;	
	}

	.memo_div button{
		margin-left: 5px;
		vertical-align: baseline;
	}

	.memo_div label{ margin-right:5px;}
	.memo_div .txtRemak{ text-align:left; width:75%;}

	div.headerQty{ padding-bottom:0px;}
	div.listMain { padding-top:0px;}

	.btnGoCustTab {margin-left:5px;}
	.col-fixed-282{ width:282px; padding-right:0px;}

	.headerQty { display:none;}

	.dataTable table th {background-color:khaki }

	.tab-pane .dataTable thead th { padding:4px 30px 4px 2px;}

	.topBtnArea {
		position: absolute;
		top: 19px;
		right: 68px;
	}

	.unlc_area { margin-top:5px;}

	.btn.btnGoSale { float:right;} 

	#btnCancelBack { margin-right:5px;}

	.tab-pane .dataTable.custList thead th {
		/*padding: 4px 20px 4px 2px;*/
	}

	.btnPdfSale2{
		margin-right:5px;
	}
	.detailSaleData th{
		text-align:center;
	}

	#modal_sale_insert table[id*="tblCust"] tbody tr.cselected {
		background-color: #99ffcc;
	}
	.tab_close{display:none;}

	#tblList.dataTable tbody .btn {
		padding: 0px 6px;
	}