

body{
	font-size:14.5px;
}


.content-header {
	padding: 10px 15px 8px 15px;
	display:none;
}

.content-header > .breadcrumb {
	top:0px;
	margin-top:0;

}
th.check{
	max-width:20px;
}

.menu li {
	display: inline;
	position: relative;
}
.menu ul { padding:0; margin-bottom:0;}
.menu ul a{ margin:0 0 5px 10px;}
table.dataTable thead > tr > th {
	text-align: center;
}

.colCheck { width:80px;}
.check{ text-align:center;}
caption { display:none; }



table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 10px;
	padding: 1px 7px 1px 7px;
	margin: 0;
	vertical-align: middle;
}

table.dataTable thead th, table.dataTable thead td{
	padding:4px 2px;
}


table.dataTable thead > tr > th { background-color:skyblue;padding:5px;	}
.dataTables_wrapper{
	overflow-x:auto;
}

.menu ul a {
	margin: 1px 2px 1px 2px;
}
table.dataTable tbody .btn{
	padding:0px 12px;
}

table.dataTable tfoot th{
	padding:0px 5px;
}

.dataTables_filter{display:none;}
.btn-app {
	border-radius: 3px;
	position: relative;
	padding: 8px 3px;
	margin: 0 0 10px 10px;
	min-width: 60px;
	height: 52px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #f4f4f4;
	font-size: 12px;
}
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 8px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.form-group{margin-bottom:3px;}

#layout-skins-list th{ text-align:center;}
#layout-skins-list td{ padding:2px;}
#layout-skins-list tbody tr > td:nth-child(2) {text-align:center;}

.sizes{ color:#f39c12;}
.bold{font-weight:bold;}
.alert{
	margin-bottom:8px;
}
.alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
ul.menu a > div.pull-left{ color:white; padding-right:10px; }

.box-body { padding:5px 5px 2px 5px;}
.box-body > div{ padding-bottom:3px;}

.table .table thead > tr > th {
	background-color:khaki;
	height: 25px;
	padding-top: 0;
	padding-bottom: 0;
}

h1{
	font-size: 17px;
	display: inline-block;
	margin: 16px 0 0 1px;
	font-weight: bold;
	color: #d8d8d8;
	letter-spacing: -0.1em;
}

.breadcrumb li:last-child{
	font-weight:bold;
}

.content{ padding:10px;}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.box{
	border-top:2px solid #3c8dbc;
}
.btn {
	padding:3px 7px;
	font-size:13.5px;
}
.blue { color:blue;}
.red {color:red;}
.green {color:green;}

.form-control{
	height:27px;
	padding:0px 12px;
}
#reportrange label{ margin-bottom:0px;}


.daterangepicker .calendar th, .daterangepicker .calendar td{
	min-width:25px;	
}

.daterangepicker select.yearselect {
	width: 45%;
}

.daterangepicker.show-calendar .calendar {
	border-right: 1px solid #3c8dbc;
}

.edit_alert > ul{ padding-left:20px;}

.error_message{ display:none;}


.cis-lang-ko{{ 
	-webkit-ime-mode:active; 
	-moz-ime-mode:active; 
	-ms-ime-mode:active; 
	ime-mode:active; 
} 

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 5px;
}

