input.cis-text {
	height: 34px;
	margin: 0px;
	vertical-align: top;
	padding-top: 0;
	margin-top: 0px;
}
.btn-info{ margin-top:4px;}
.btnSearch{ margin-top:0;}
#tblList_filter, #tblSujoUpdList_filter, #tblCustList_filter { display:none;}


#modal_stock_arrange .reason label.sel{
	width:auto;
	padding-right:2%;
}

#modal_stock_arrange .form-group > label{
	display:inline-block;
	width:22%;
	clear:both;
	padding-left:1%;
}


#modal_stock_arrange .form-control{
	display:inline-block;
	width:22%;
	clear:both;
}
.slideSearchPisMk, .slideSearchCust{
	display:none;
}

#frmSubAlarm{
	//position:absolute;
	float:right;
}

#frmSubAlarm:after{
	clear:both;
}


.table.dataTable thead th {color:#333333;}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background-color: #F9F9DB;
}