
	input.cis-text {
		height: 34px;
		margin: 0px;
		vertical-align: top;
		padding-top: 0;
		margin-top: 0px;
	}
	.btn-info{ margin-top:0px;}
	.btnSearch{ margin-top:0;}
	#tblList_filter{ display:none;}

	#modal_taxInsert label, #modal_eTax label{
		display:inline-block;
		width:95px;
		clear:both;
	}

	#modal_eTax .form-control{
		height:25px;
		padding:3px 6px;
	}

	#modal_taxInsert .form-control, #modal_eTax .form-control{
		display:inline-block;
		width:130px;
		clear:both;
	}

	#modal_eTax .form-group > label:nth-child(3){
		padding-left:20px;
	}

	#modal_eTax .box-body{
		padding:0;
	}
	.slideSearchPisMk, .slideSearchCust{ display:none; }
	.slideSearchCust {margin-top:5px;}
	#modal_taxInsert #modal_sujo_no_pis_mk{ width:78px; }
	#modal_taxInsert #modal_sujo_outline{ width:70%;}
	
	#modal_Cust label {
		display:inline-block;
		width:105px;
		clear:both;
	}

	#modal_Cust .form-control{
		display:inline-block;
		width:150px;
		clear:both;
	}

	@media (min-width: 768px) {
	  .modal-xl {
		width: 90%;
	   max-width:1200px;
	  }
	}

	#btnSearchCustInsert{
		padding:0 8px;
		vertical-align:baseline;
	}

	#modal_eTax .dataTables_length{ display:none;}
	#modal_eTax  h5{ margin-top:2px; margin-bottom:4px; color:blue;}
	
	.slideSearchCust{ display:none; margin-top:5px;}
	.ui-datepicker-calendar {
		display: none;
	}

	.dt-body-right{text-align:right;}
	table.dataTable tbody .btn.btnUpdate {float:right; padding:0px 6px;}
	.edit_alert { display:none;}
	.padding{ margin-right:5px;}


	#tblList tbody tr.error_row { background-color:#feada9;}

		#modal_custCd label, #modal_custGrpEdit label{
		display:inline-block;
		width:24%;
		clear:both;
	}
	#modal_custCd .form-input-sm, #modal_custGrpEdit .form-input-sm{
		display:inline-block;
		width:24%;
		clear:both;
	}

	#modal_custCd .form-input-md, #modal_custGrpEdit .form-input-md{
		display:inline-block;
		width:24%;
		clear:both;
	}

	#modal_custCd .form-input-lg, #modal_custGrpEdit .form-input-lg{
		display:inline-block;
		width:74%;
		clear:both;
	}
	.SearchCustGrp , .SearchAreaCd, .SearchCustGrpEdit , .SearchAreaCdEdit{
		display:none;
	}
	#modal_custCd  #POST_NO, #modal_custCd  #AREA_CD , #modal_custCd  #CUST_GRP_CD , #modal_custGrpEdit #CUST_GRP_CD_EDIT, #modal_custGrpEdit #AREA_CD_EDIT,  #modal_custGrpEdit #POST_NO_EDIT{ width:100px;}